<!DOCTYPE html>
<html>
    <head>
        <title>three.js css3d - periodic table</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    </head>
    <body style="background-color: black;">
        <script src="{% static 'js/threenew.js' %}"></script>
        <script src="{% static 'js/Tween.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <script src="{% static 'js/TrackballControls.js' %}"></script>
        <script src= "{% static 'js/renderers/CSS3DRenderer.js' %}"></script>

    <div id="container"></div>
        
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"> Menu</button>
            <div id ="myDropdown" class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about"> About</a>
                <a href="#contact"> Contact</a>
            </div>
        </div>
    </div>
    <div>
        <script src= "{% static 'js/cube.js' %}"></script>
        <script src= "{% static 'js/menu.js' %}"></script>
    </div>
</body>
</html>