<!doctype html>
<html lang="en">


<head>
	{% load staticfiles %}
	<title>Texture Animation (Three.js)</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	
</head>
<body>

<script src="{% static 'js/Threenew.js' %}"></script>
<script src="{% static 'js/Tween.js' %}"></script>
<script src="{% static 'js/Detector.js' %}"></script>

<script src="{% static 'js/OrbitControls.js' %}"></script>
<script src="{% static 'js/renderers/Projector.js' %}"></script>
<script src= "{% static 'js/renderers/CanvasRenderer.js' %}"></script>




<div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
<script src="{% static 'js/index3.js' %} "></script>


</div>

</body>


</html>
