body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
    background-color: black;
}

#paragraph{
	width: 916px;
    margin: 0 auto 50px auto;
    padding: 0;
	color: white;
	text-align: center;

}


#video {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}